/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*FIN RESET DE MEYER*/

body{
	font-family: roboto;
	font-size: 1em;
	height: 100%;
}

.content{
	min-height: calc(100vh - 60px);
}

.header{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height:55px;
}

.footer {
	height: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.productos{
	display: flex;
	justify-content: center;
	align-items: center;
}

#mostrarlineal{
	display:none;
}

.fa-bars{
	margin: 0 10px 0 10px;
}

img.catalogo {
	width: 100%;
}

img.catalogo2 {
	width: 50%;
}

.catalogo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ui-grid-a{
	text-align: center;
}

h2{
	font-size: 1.25em;
	text-align: center;
	margin: 10% 0 10% 0;
}

#mostrarlineal2{
	display:none;
}

img.historial {
	width:50%;	
}

div.historial_2{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

div.historial_3{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.fa-angle-right{
	margin-left: 10%;
}

.creditos{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 15%;
}

